@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

body {
    //background: linear-gradient(320deg, #eb92be, #ffef78, #63cdb4);
    background: linear-gradient(320deg, #ffe324, #ffb533);
    font-family: 'Dosis', sans-serif;
    display: flex;
    font-display: swap;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
}

.calc {
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    background-color: rgb(255, 255, 255, 0.2);
    border: 0.0625rem solid rgb(252, 255, 255, 0.14);
    flex-basis: 25rem;
    height: 33.75rem;
    padding: 1.25rem 2.1875rem;
    position: relative;

    &__history {
        position: absolute;
        display: block;
        border: 0.0625rem solid rgb(252, 255, 255, 0.14);
        box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
        color: #232323;
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
        height: 30.3456rem;
        right: 100%;
        top: 1.25rem;
    }

    .history {


        &__body {
            height: 100%;
            display: none; // block when active
        }

        &__list {
            height: 100%;
            overflow: scroll;
            overflow-x: hidden;
            padding: 1.25rem 39.2048px;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            & {
                -ms-overflow-style: none;
            }

            & {
                overflow: -moz-scrollbars-none;
            }
        }

        &__item {
            border-radius: 1rem;
            display: flex;
            align-items: center;
            width: 150px;
            background-color: rgba(255, 255, 255, 0.75);
            padding: 0.625rem 0.9375rem;
            box-shadow: 0 4px 10px rgba(35, 35, 35, 0.1);
            cursor: pointer;

            &:not(:last-child) {
                margin: 0 0 0.625rem 0;
            }

            &:hover {
                background-color: rgb(255, 255, 255, 0.5);
            }
        }

        &__delete {
            display: inline-block;
            flex: 0 0 20px;
            height: 25px;
            background: url(../img/icons/trash.svg) left / 100% no-repeat;
            transition: all 0.1s ease 0s;

            &:hover {
                background: url(../img/icons/trash-hover.svg) left / 100% no-repeat;
            }
        }

        &__content {
            flex: 1 1 auto;
            padding: 0 0 0 10px;
            overflow: hidden;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                z-index: 2;
                width: 92%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.5);
                bottom: 52.5%;
                right: 0;
            }
        }

        &__operaion-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 18px;
            padding: 0 0 5px 0;
            margin: 0 0 5px 0;
        }

        &__answer-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: right;
            font-size: 24px;
        }

        &::before,
        &__side-buttons_arrow {
            content: "";
            position: absolute;
            height: 102%;
            top: -1%;
            background-color: rgb(64, 64, 64, 1);
            border: 0.0625rem solid rgb(252, 255, 255, 0);
            backdrop-filter: blur(5.5px);
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        }

        &::before {
            right: -11px;
            width: 13px;
            border-radius: 0 90% 90% 0/0 3% 3% 0;
        }

        &__side-buttons_arrow {
            width: 20px;
            border-radius: 25% 27% 36% 25%/1% 3% 3% 1%;
            transform: rotate(180deg);
            left: -14px; //-10px;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                top: 47.5%;
                left: 0;
                background: url(../img/icons/arrow.png) center / 100% no-repeat;
                transform: rotate(180deg); //0deg when active
                transition: transform 0.3s ease 0s;
            }

            &:hover {
                background-color: rgb(53, 53, 53);
            }
        }
    }

    .active .history__side-buttons_arrow::after {
        transform: rotate(0deg);
        transition: transform 0.3s ease 0s;
    }

    .active .history__body {
        display: flex;
    }


    &__screen {
        font-weight: 700;
        backdrop-filter: blur(5.5px);
        background: rgba(255, 255, 255, 0.75);
        border: 0.0625rem solid rgb(255, 255, 255, 0.01);
        border-radius: 1rem;
        box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        font-size: 2.25rem;
        overflow: auto;
        padding: 1.25rem;
        text-align: right;
        width: 20.375rem;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        & {
            -ms-overflow-style: none;
        }

        & {
            overflow: -moz-scrollbars-none;
        }
    }

    &__buttons {
        position: relative;
    }

    &__side-buttons {
        display: block;
        border: 0.0625rem solid rgb(252, 255, 255, 0.14);
        box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
        color: #232323;
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        z-index: -1;
        //width: 50%;
        //width: 3%;
        height: 260.53px;
        left: 110%;
        //top: -4.3%;16.7%
        top: 16.7%;

        &::before,
        &_arrow {
            content: "";
            position: absolute;
            height: 104%;
            top: -2%;
            background-color: rgb(64, 64, 64, 1);
            border: 0.0625rem solid rgb(252, 255, 255, 0);
            backdrop-filter: blur(5.5px);
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        }

        &::before {
            left: -8px;
            width: 13px;
            border-radius: 100% 0 0 100%/5% 0 0 5%;
        }

        &_arrow {
            width: 20px;
            border-radius: 36% 25% 25% 36%/5% 1% 1% 5%;
            transform: rotate(180deg);
            right: -19px; //-10px;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                top: 47.5%;
                left: 0;
                background: url(../img/icons/arrow.png) center / 100% no-repeat;
                transform: rotate(0deg); //on when active
                transition: transform 0.3s ease 0s;
            }

            &:hover {
                background-color: rgb(53, 53, 53);
            }
        }
    }

    &__button-row_side-panel {
        display: none;
        //display: flex; //on when active
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        align-items: center;
        padding: 10% 49.205px; //10% 0
    }

    .active .calc__side-buttons_arrow::after {
        transform: rotate(180deg);
        transition: transform 0.3s ease 0s;
    }

    .active .calc__button-row_side-panel {
        display: flex;
    }

    &__button_sidebutton {
        backdrop-filter: blur(5.5px);
        background-color: rgba(255, 255, 255, 0.75);
        border: 0.0625rem solid rgba(255, 255, 255, 0.01);
        border-radius: 1rem;
        box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        color: #232323;
        font-family: inherit;
        font-size: 1.5rem;
        height: 4.0625rem;
        font-weight: 700;
        width: 65.6px; //40%;

        &:not(:last-child) {
            margin-bottom: 25%;
        }

        &:hover {
            background-color: inherit;
        }

        &:active {
            background-color: #ffef78;
        }
    }

    &__button-row {
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
    }

    &__button {
        backdrop-filter: blur(5.5px);
        background-color: rgba(255, 255, 255, 0.75);
        border: 0.0625rem solid rgba(255, 255, 255, 0.01);
        border-radius: 1rem;
        box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        color: #232323;
        flex-basis: 20%;
        font-family: inherit;
        font-size: 1.5rem;
        height: 4.0625rem;
        font-weight: 700;

        &:last-child {
            backdrop-filter: blur(5.5px);
            border: 0.0625rem solid rgba(255, 255, 255, 0.01);
            border-radius: 1rem;
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            background: #404040;
            color: #FFF;

            &:hover {
                background-color: inherit;
                color: inherit;
            }
        }

        &:hover {
            background-color: inherit;
        }

        &:active {
            background-color: #ffef78;
        }


    }
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}